Player/bin/
Player/obj/
obj/
bin/
.suo
*.user
*.config.user
*.resharper
*.bak
*.cache
*.vs/
*.vsp
*.vspx
*.log
*.dll


**/*.db
app.db
.vs
appsettings.json
/Player/Запись 2026-01-15 154128.gif
/Player/Запись 2026-01-15 154229.mp4
